In [1]:
print("Alô mundo!")

Alô mundo!

Exercicio:

Criar uma classe Produto
com uma função para calcular o valor do produto.

Lista de Regras

- A classe é um conjunto de objetos;
- A classe agrupa objetos em comum;
- A classe possui um contrutor __init__;
- As caracteristicas dos objetos são atributos;
- O self acessa as caracteristicas e comportamentos da classe.
- Os metodos de trabalho (workers - Oziel Moreira Neto): são metodos para calcular, desenvolver a lógica de programação.

In [18]:
class Produto:
    def __init__(self,valor,qtd):
        self.qtd = qtd
        self.valor = valor
    
    def calcular_total(self):
        return self.qtd * self.valor

In [19]:
p = Produto(qtd=10,valor=10)

print(f"O valor total de melancias é:{p.calcular_total()}")

O valor total de melancias é:100

Desafio:

- Analise o dataset aluguel.csv da aula passada.
- E crie uma classe que representará o arquivo.
- Crie três imóveis(objetos) que estão no dataset.

1º) importar o pandas

2º) analisar o dataset

3º) pesquisar o cabçalho

4º) verificar colunas

5º) escolher as clounas

6º) criar a classe

7º) criar objetos com valores

In [2]:
import pandas as pd

In [3]:
url = "dataset/aluguel.csv"
pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [5]:
df = pd.read_csv(url,sep=";")

In [22]:
df.groupby('Tipo')['Valor'].mean()
type(df)

pandas.core.frame.DataFrame

In [28]:
df[['Tipo','Bairro','Valor']]

                          Tipo                Bairro   Valor
0                    Quitinete            Copacabana  1700.0
1                         Casa       Jardim Botânico  7000.0
2      Conjunto Comercial/Sala       Barra da Tijuca  5200.0
3                  Apartamento                Centro   800.0
4                  Apartamento          Higienópolis   800.0
...                        ...                   ...     ...
32955                Quitinete                Centro   800.0
32956              Apartamento           Jacarepaguá  1800.0
32957              Apartamento  São Francisco Xavier  1400.0
32958              Apartamento                Leblon  3000.0
32959  Conjunto Comercial/Sala                Centro  6500.0

[32960 rows x 3 columns]

In [36]:
class Imovel:
    def __init__(self,Tipo,Bairro,Valor):
        self.Tipo = Tipo
        self.Bairro = Bairro
        self.valor = Valor
    
    def apresentar(self):
        print("Olá, Este imovel", self.Tipo, "Localizado", self.Bairro, "e custa", self.valor)

    

Imovel1 = Imovel("Casa","Centro",800.0)
Imovel1.apresentar()
    
Imovel2 = Imovel("Apartamento","Lembron",1800.0)
Imovel2.apresentar()

Imovel3 = Imovel("Quitinete","Barra da Tijuca", 5200.0)
Imovel3.apresentar()

Olá, Este imovel Casa Localizado Centro e custa 800.0
Olá, Este imovel Apartamento Localizado Lembron e custa 1800.0
Olá, Este imovel Quitinete Localizado Barra da Tijuca e custa 5200.0

Gabarito - Respostas - Dúvidas - Questôes

1 - escolher as colunas

- Tipo
- Bairro
- Valor

In [1]:
class Imovel():
    def __init__(self,Tipo,Bairro,Valor):
        self.Tipo = Tipo
        self.Bairro = Bairro
        self.valor = Valor

simulando três imóveis

In [2]:
i1 = Imovel(2,3,678.56)
i2 = Imovel(2,3,678.56)
i3 = Imovel(2,3,678.56)

In [3]:
print(f"suites:{i1.Tipo} Bairro:{i1.Bairro} Valor:{i1.valor}")
print(f"suites:{i2.Tipo} Bairro:{i2.Bairro} Valor:{i2.valor}")
print(f"suites:{i3.Tipo} Bairro:{i3.Bairro} Valor:{i3.valor}")

suites:2 Bairro:3 Valor:678.56
suites:2 Bairro:3 Valor:678.56
suites:2 Bairro:3 Valor:678.56

# Criar um calculadora orientada a objetos.